<h1 style="text-align:center;fontStyle:monospace;">Generala</h1>
<form method="post" action="/tirardados" >
	<ul style="list-style-type: none;display: inline-flex;">
		<%
		@images.each do |imgtag| %>
			<li><%= imgtag %></li>
		<% end %>
	</ul>
	<% if @@generala.getDados != [] %>
		<p><%= @juego %>  
		<p>Puntaje mano: <%= @@generala.getPuntoMano %> 
	<% end %>
  <p><input type="submit" value="Tirar dados" style="padding: 5px;background-color: #66a2c8;border-radius: 7%;font-size: larger;
font-weight: bold;color: white;cursor: pointer;"/ >

  <% if @@generala.getDados != [] %>
  	<p>Puntaje acumulado: <%= @@generala.getPuntosAcumulados %> 		
  <% end %>

	<% if false %>
		<p><table>
			<tr>
				<td>Poker</td>
				<td><% if @@generala.getJuegoCompleto[7] %>
							*  
							<% else %>
							- 
						<% end %></td>
			</tr>
			<tr>
				<td>Full</td>
				<td><% if @@generala.getJuegoCompleto[6] %>
							*  
							<% else %>
							- 
						<% end %></td>
			</tr>
			<tr>
				<td>Escalera</td>
				<td><% if @@generala.getJuegoCompleto[9] %>
							*  
							<% else %>
							- 
						<% end %></td>
			</tr>
			<tr>
				<td>Generala</td>
				<td><% if @@generala.getJuegoCompleto[8] %>
							*  
							<% else %>
							- 
						<% end %></td>
			</tr>
			<tr>
				<td>Generala Serv</td>
				<td><% if @@generala.getJuegoCompleto[7] %>
							*  
							<% else %>
							- 
						<% end %></td>
			</tr>
		</table>
	<% end %>
</form>


