<h1>Generala</h1>
<form method="post" action="/tirardados" >
	<ul>
		<%
		@@generala.getDados.each do |dado| %>
			<li><%= dado %></li>
		<% end %>
	</ul>
  <p><%= @juego %>
	<input type="submit" value="Tirar dados"/>
</form>


