<h1>Generala</h1>
<form method="post" action="/tirardados" >
	<ul>
		<%
		@@generala.getDados.each do |dado| %>
			<li><%= dado %></li>
		<% end %>
	</ul>
  <p><%= @juego %>
  <% if @@generala.getDados != [] %>
	<p>Puntaje mano: 30
  	<p>Puntaje acumulado: 120 
  <% end %>
    <p><input type="submit" value="Tirar dados"/>
</form>


